<div class="info-dialog">
<div class="box">
  <h3 class="h3">About the program:</h3>

  <p class="paragraph">The program is a demonstration version of an online food ordering store.
    Please note that the interface language is English,
    the search is carried out by name in English.
  </p>

  <p class="paragraph">For testing purposes, you can register as a customer.
    You will be granted the 'USER' role, and you can also test an already registered user
    with administrative privileges for order management with the 'ADMIN' role,
    using the following credentials: Username: 'Manager_1', Password: 'Manager_1'.
  </p>

  <h3 class="h3">Technical information:</h3>

  <p class="paragraph">The following technologies were used to develop the program:</p>

  <ul class="list-item">
    <li class="item">Angular 16</li>
    <li class="item">Java 17</li>
    <li class="item">Maven</li>
    <li class="item">Spring 3.0.6</li>
    <li class="item">Spring Data</li>
    <li class="item">Hibernate</li>
    <li class="item">Spring MVC (REST)</li>
    <li class="item">Spring Security JWT</li>
    <li class="item">PostgreSQL</li>
    <li class="item">Lombok</li>
    <li class="item">Amazon RDS</li>
    <li class="item">Amazon S3</li>
    <li class="item">AWS Elastic Beanstalk</li>
  </ul>

  <p class="paragraph">This app was developed by: Mykola Koretskyi</p>

  <p class="paragraph">LinkedIn: <a href="https://www.linkedin.com/in/mykola-koretskyi/" target="_blank">
    https://www.linkedin.com/in/mykola-koretskyi/
  </a></p>
</div>
<div class="display-flex">
  <button type="submit" class="cancel" mat-dialog-close>Ok</button>
</div>


</div>

